<div>
    Musicians
</div>
<div>

    <h1><%= current_user.name %></h1>
    <h1><%= current_user.style %></h1>
    <h1><%= current_user.instrument %></h1>
    <p><%= current_user.description%></p>

</div>