<div>
    <%= @practice.date %>
    <%= @practice.location %>
    <% @practice.signups.each do|signup| %>
        <%= signup.user.email %>
    <% end %>
    <% if current_user.id == @practice.owner_id>
        <%= link_to "Delete", practice_path(@practice),
                                        method: :delete,
                                        data: { confirm: 'Are you sure?'}%>
    <% end %>
</div>