/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.login{
    background-image: image-url("diy-acoustic-diffuser.jpg")
}
body{
    //background-image: image-url("anechoic_pattern.jpg")
}
.vug{
    float: left;
    border-right: 2px;
    width: 10px;
    height: 30px;
    background: rgb(21, 223, 21);
    margin-right: 2px;
}
.vuy{
    margin-right: 2px;
    float: left;
    border-right: 2px;
    width: 10px;
    height: 30px;
    background: yellow;
}
.vur{
    margin-right: 2px;
    float: left;
    border-right: 2px;
    width: 10px;
    height: 30px;
    background: red;
}
.vugr{
    margin-right: 2px;
    float: left;
    border-right: 2px;
    width: 10px;
    height: 30px;
    background: rgb(161, 161, 161);
}
.edit{
    background-color: lightgrey;
    width: 50%
}
.card{
    float: left;
    margin-right: 5px
}
.profile_card{
    background-color: rgb(197, 172, 125);
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
}
.picture{
    width: 40px;
}